/* =======================================================================
 * Setting Variables
 * =======================================================================
 */

@import '../external/bootstrap-3.3.5/css/bootstrap.css';
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic);
@import '../external/font-awesome-4.4.0/scss/font-awesome';
@import 'settings';

/* some bootstrap overrides -> maybe remove later */
.navbar-brand span {
  color: $link-color;
}
.btn-default.active,
.btn-default:active,
.btn-default:hover,
.open>.dropdown-toggle.btn-default {
  background-color: #109c81;
  border-color: #109c81;
  color: #fff;
}
hr {
  margin-top: 70px;
  margin-bottom: 40px;
}

.attachment-app-image {
  margin-top: 15px;
}

header {
  margin-top: 50px;
  margin-bottom: 20px;
  .headline {
    font-size: 60px;
    font-weight: 600;
    #opendata-count {
      margin-top: -30px;
      font-size: 200px;
      line-height: 200px;
    }
    .title {
      line-height: 40px;
    }
    img {
      width: 50px;
    }
  }
}

.h2-vertical-center {
  margin-top: 35px;
}

#explore {
  input {
    width: 300px;
  }
}

#how {
  .number {
    float: left;
    font-size: 80px;
    line-height: 80px;
    font-weight: 600;
    width: 65px;
  }
  .description {
    overflow:hidden;

    h3 {
      margin-top: 10px;
    }
  }
}

footer {
  margin-top: 60px;
  color: $footer-color;
  background: $footer-bg-color;
  box-shadow: 0px 1000px 0px 1000px $footer-bg-color;
  padding-top: 40px;
  padding-bottom: 40px;
}