/* =======================================================================
 * Setting Variables
 * =======================================================================
 */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic);
@import '../external/font-awesome-4.4.0/scss/font-awesome';

@import 'bootstrap_variables';
@import 'variables';
@import '../external/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap';
@import 'wp_tinymce_styles';
@import 'button_default';
@import 'responsive_alignment';

/* some bootstrap overrides -> maybe remove later */
#main-navigation {
  font-weight: 600;
  &.navbar-default .navbar-nav>li.search>a {
    color: $gray-light;
  }
  &.navbar-default .navbar-nav>li.search>a:focus,
  &.navbar-default .navbar-nav>li.search>a:hover {
    color: $link-color;
  }
  h1 {
    margin: 0;
  }
  .navbar-brand img {
    height: 100px;
  }
  .navbar-toggle {
    margin-top: 30px;
  }

  @media (max-width: $grid-float-breakpoint) {
    &.navbar {
      min-height: 90px;
    }
    .navbar-brand {
      height: auto;
    }
    .navbar-brand img {
      height: 30px;
    }
    .navbar-toggle {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
}

.btn-default {
  @include ogdch-button-default;
}

pre {
  font-size: ceil(($font-size-base * 0.75));
  border: none;
  border-radius: 0;
}

.attachment-app-image {
  margin-top: 15px;
}

.front-header {
  padding-bottom: 30px;

  .headline {
    font-size: 28px;
    font-weight: 600;
    #opendata-count {
      margin-top: -30px;
      font-size: 130px;
      line-height: 130px;

      @media (max-width: $grid-float-breakpoint) {
        margin-top: 20px;
      }
    }
    .title {
      line-height: 28px;
    }
  }
  .main-search {
    margin-top: 20px;
  }
}

.breadcrumb {
  >li+li:before {
    font: normal normal normal 14px/1 FontAwesome;
    padding: 0 8px;
    content: "\f105";
  }

  li.active a {
    color: $gray-light;
  }
}

.page-header {
  $header-padding: 30px;
  color: $inverted-text-color;
  background-color: $brand-primary;
  margin-top: 0;
  margin-bottom: 50px;
  padding: $header-padding 0;
  border: 0;

  h1 {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .breadcrumb {
    margin-bottom: 0;
    a {
      color: $inverted-text-color;
    }
    li.active {
      color: $gray-dark;

      a {
        color: $gray-dark;
      }
    }
  }
}

.nav>li {
  >a:focus, >a:hover {
    color: $nav-pills-active-link-hover-color;
  }
}

// Label styles
a.label-default {
  background-color: #fff;
  border: solid 1px $gray-light;
  color: $gray-light;

  &:focus,
  &:hover {
    background-color: #fff;
    color: $gray;
    border-color: $gray;
  }
  &[href]:focus, &[href]:hover {
    background-color: #fff;
  }
}
.label-primary-gray {
  background-color: $gray-lighter;
  color: $gray-light;

  &:focus,
  &:hover {
    background-color: $gray-light;
    color: $gray;
  }
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th,
hr {
  border-top-style: solid;
}

.dl-horizontal {
  $gutter-size: 5px;
  border-bottom: 1px solid $gray-lighter;
  padding-bottom: $gutter-size;

  dt:first-of-type, dd:first-of-type{
    border-top-width:0;
  }
  dt {
    border-top: 1px solid $gray-lighter;
    padding-top: $gutter-size;
    margin-top: $gutter-size;
  }
  @media (min-width: $grid-float-breakpoint) {
    dt {
      width: $dl-horizontal-offset;
      text-align: left;
    }
    dd {
      margin-left: $dl-horizontal-offset;
      border-top: 1px solid $gray-lighter;
      padding-top: $gutter-size;
      margin-top: $gutter-size;
    }
    // FIX somehow the first dd element isn't aligned to the title
    dd:first-of-type {
      padding-top: (2 * $gutter-size);
    }
  }
}

// Main search input field
.main-search {
  .form-control {
    padding-left: 0;
    border: none;
    border-bottom: 2px solid $gray;
    border-radius: 0;
    box-shadow: none;

    &:focus {
      border-bottom: 2px solid $link-color;
      box-shadow: none;
    }
  }

  .form-control-feedback {
    color: $gray-light;
  }
}

.h2-vertical-center {
  margin-top: 25px;
}

.top-buffer {
  margin-top: $buffer-height;
}
.bottom-buffer {
  margin-bottom: $buffer-height;
}

#explore {
  .category {
    margin-bottom: 15px;
    font-size: 20px;
    
    span {
      margin-left: 5px;
    }
  }
}

#how {
  .number {
    float: left;
    font-size: 80px;
    line-height: 80px;
    font-weight: 600;
    width: 65px;
  }
  .description {
    overflow: hidden;

    h3 {
      margin-top: 10px;
    }
  }
}

#trending {
  #last-tweet {
    p {
      font-size: 1.5em;

      .fa {
        font-size: 1.5em;
      }
    }
  }
}

.main-footer {
  color: $inverted-text-color;
  background: $text-color;
  box-shadow: 0px 1000px 0px 1000px $text-color;
  padding-top: 40px;
  padding-bottom: 40px;

  a {
    color: $inverted-link-color;

    &:hover {
      color: $inverted-link-color;
    }
  }
  .lead {
    font-size: 32px;
    font-weight: 600;
  }
  .btn {
    margin-right: 10px;
    margin-bottom: 10px;
    &.last {
      margin-right: 0;
    }
    &.dropdown-toggle {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
  .btn-default {
    color: $inverted-text-color;
    background-color: $text-color;
    border-color: $inverted-btn-default-color;
  }

  .statsnumber {
    font-size: 40px;
    line-height: 46px;
  }

  li {
    margin-bottom: 12px;
  }

  .dropdown-menu li {
    margin-bottom: 0;
  }

  #logos img {
    margin-right: 30px;
    margin-bottom: 30px;
    &.logo-confederation {
      width: 245px;
    }
    &.logo-egovernment {
      width: 184px;
    }
  }
}

/* Dataset Search */
.search-form {
  h3 {
    font-size: 26px;
  }
}
.facet-filter {
  h3 {
    font-size: 20px;
  }
  span {
    margin-left: 3px;
    font-size: floor(($font-size-base * 0.8));
    color: $gray-light;
  }
  li:hover span, li:active span {
    color: $gray-lighter;
  }
  .nav>li>a {
    padding: 5px 10px;
  }
  .list-inline.tags li {
    padding: 0;
  }
}

.facet-collapse {
  @media (min-width: $grid-float-breakpoint) {
    &.collapse {
      display: block !important;
      height: auto !important;
    }
  }
}
.facet-toggle {
  float: right;
  font-size: 30px;
  line-height: 20px;
  font-weight: 600;

  &:hover, &:focus {
    text-decoration: none;
  }

  @media (min-width: $grid-float-breakpoint) {
    display: none;
  }
}
.list-inline.dataset-resources li {
  padding: 0;
}

/* Dataset Detail */
header.dataset-header {
  $header-padding: 20px;
  $header-h1-margin: 15px;
  color: $inverted-text-color;
  background-color: $brand-primary;
  margin-bottom: 40px;
  padding-top: $header-padding;

  h1 {
    margin-top: $header-h1-margin;
    margin-bottom: $header-padding + $header-h1-margin;
  }

  .dataset-toolbox {
    background-color: $gray-dark;

    .fa-li {
      top: 0.3em;
    }
    a {
      color: $inverted-text-color;
    }
  }
}

.resource-list {
  li {
    overflow: hidden;
    border-bottom: solid $gray-lighter 1px;
    padding: 10px 0;
  }
  .actions a {
    margin-left: 10px;
  }

  .label-format {
    border: solid 1px $gray-lighterish;
    color: $gray-light;
    background-color: #fff;
    margin-right: 10px;
  }
}
.additional-info {
  th.header-col {
    width: 200px;
  }
}

// Organization list
#organisations-list {
  li {
    a  {
      display: block;
      padding: 10px;
      border-bottom: 1px solid $gray-lighter;

      &:hover {
        background-color: $gray-lighter;
      }
    }
  }
}