/* =======================================================================
 * Setting Variables
 * =======================================================================
 */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic);
@import '../external/font-awesome-4.4.0/scss/font-awesome';

@import 'bootstrap_variables';
@import 'variables';
@import '../external/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap';
@import 'wp_tinymce_styles';
@import 'button_hover';
@import 'advanced_buttons';
@import 'responsive_alignment';

// Bootstrap overrides
.btn-default {
  @include ogdch-button-hover($brand-primary, #fff, $brand-primary);
}
.btn-default-gray {
  @include ogdch-button-variant($gray, #fff, $gray, $brand-primary, #fff, $brand-primary);
  &.btn.active, &.btn:active {
    @include box-shadow(none);
  }
}
.btn-default-inverted {
  @include ogdch-button-variant(#fff, $brand-primary, #fff);
  &.btn.active, &.btn:active {
    @include box-shadow(none);
  }
}

pre {
  font-size: ceil(($font-size-base * 0.75));
  border: none;
}
small, .small {
  color: $gray-light;

  a {
    color: $link-color;
  }
}
p.small {
  margin-bottom: 8px;
}

.lead {
  font-size: 20px;
}

.breadcrumb {
  >li+li:before {
    font: normal normal normal 14px/1 FontAwesome;
    padding: 0 8px;
    content: "\f105";
  }

  li.active a {
    color: $gray-light;
  }
}

.dropdown-menu {
  border-radius: $btn-border-radius-base;
}

.nav>li {
  >a:focus, >a:hover {
    color: $nav-pills-active-link-hover-color;
  }
}

.form-control {
  border-width: 2px;
  box-shadow: none;
  &:focus {
    box-shadow: none;
  }
}
.form-control-feedback {
  color: $input-color-placeholder;
}
.has-error .form-control:focus {
  box-shadow: none;
}

.alert p {
  margin-bottom: 0;
}

// Label styles
.label-default {
  background-color: #fff;
  border: solid 1px $gray-lighterish;
  color: $gray-light;
}
a.label-default {
  &:focus,
  &:hover {
    background-color: #fff;
    border-color: $gray-light;
    color: $gray;
  }
  &[href]:focus, &[href]:hover {
    background-color: #fff;
  }
}
.label-primary-gray {
  background-color: $gray-lighter;
  color: $gray-light;
}
a.label-primary-gray:focus,
a.label-primary-gray:hover {
  background-color: $gray-lighterish;
  color: $gray;
}

.dl-horizontal {
  $gutter-size: 5px;
  border-bottom: 1px solid $gray-lighter;
  padding-bottom: $gutter-size;

  dt:first-of-type, dd:first-of-type{
    border-top-width:0;
  }
  dt {
    border-top: 1px solid $gray-lighter;
    padding-top: $gutter-size;
    margin-top: $gutter-size;
  }
  dd ul {
    margin-bottom: 0;
  }
  @media (min-width: $grid-float-breakpoint) {
    dt {
      width: $dl-horizontal-offset;
      text-align: left;
    }
    dd {
      margin-left: $dl-horizontal-offset;
      border-top: 1px solid $gray-lighter;
      padding-top: $gutter-size;
      margin-top: $gutter-size;
    }
    // FIX somehow the first dd element isn't aligned to the title
    dd:first-of-type {
      padding-top: (2 * $gutter-size);
    }
  }
}

// Global Helper classes
.break-word {
  word-wrap: break-word;
}

.h2-vertical-center {
  margin-top: 25px;
}

.top-buffer {
  margin-top: $buffer-height;
}

.bottom-buffer {
  margin-bottom: $buffer-height;
}

// Main navigation
#main-navigation {
  font-size: 20px;
  font-weight: 600;
  &.navbar-default .navbar-nav>li.search>a {
    color: $gray-light;
  }
  &.navbar-default .navbar-nav>li.search>a:focus,
  &.navbar-default .navbar-nav>li.search>a:hover {
    color: $link-color;
  }
  h1 {
    margin: 0;
  }
  .navbar-brand img {
    height: 100px;
  }
  .navbar-toggle {
    margin-top: 30px;
  }

  @media (max-width: $grid-float-breakpoint) {
    &.navbar {
      min-height: 90px;
    }
    .navbar-brand {
      height: auto;
    }
    .navbar-brand img {
      height: 30px;
    }
    .navbar-toggle {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
}

// Page header
.page-header {
  $header-padding: 30px;
  color: $inverted-text-color;
  background-color: $brand-primary;
  margin-top: 0;
  margin-bottom: $header-footer-buffer;
  padding: $header-padding 0;
  border: 0;

  h1 {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .breadcrumb {
    margin-bottom: 0;
    a {
      color: $inverted-text-color;
    }
    li.active {
      color: $gray-dark;

      a {
        color: $gray-dark;
      }
    }
  }
}

// Page footer
.page-footer {
  color: $inverted-text-color;
  background: $text-color;
  box-shadow: 0px 1000px 0px 1000px $text-color;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: $header-footer-buffer + $line-height-computed; // add line-height-computed because first section after header starts with h2 (which also has a margin)

  a {
    color: $inverted-link-color;

    &:hover {
      color: $inverted-link-hover-color;
    }
  }
  .lead {
    font-size: 32px;
    font-weight: 600;
  }
  .btn {
    margin-right: 10px;
    margin-bottom: 10px;
    &.last {
      margin-right: 0;
    }
    &.dropdown-toggle {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
  .btn-default {
    color: $inverted-text-color;
    background-color: $text-color;
    border-color: $inverted-btn-default-color;
  }

  .statsnumber {
    font-size: 40px;
    line-height: 46px;
  }

  li {
    margin-bottom: 12px;
  }

  .dropdown-menu li {
    margin-bottom: 0;
  }

  #logos img {
    margin-right: 30px;
    margin-bottom: 30px;
    &.logo-confederation {
      width: 245px;
    }
    &.logo-egovernment {
      width: 184px;
    }
  }
}

// Front-Page
.front-header {
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url('../images/swiss_map.svg');
  background-repeat: no-repeat;
  background-position: 90% 100%;
  background-size: 520px 100%;

  @media (max-width: $grid-float-breakpoint) {
    padding-top: 40px;
    padding-bottom: 40px;
    background-position: 50% 100%;
    background-size: 80% 100%;
  }

  .headline {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    #opendata-count {
      margin-top: -30px;
      font-size: 130px;
      line-height: 130px;

      @media (max-width: $grid-float-breakpoint) {
        margin-top: 20px;
      }
    }
    .title {
      line-height: 28px;
    }
  }
}

#explore {
  .category {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;

    small {
      font-size: 18px;
      margin-left: 5px;
    }
  }
}

#how {
  .fa {
    font-size: 40px;
    margin-right: 5px;
  }
}

// Dataset Search
.search-form {
  h3 {
    font-size: 26px;
  }
}
.facet-filter {
  h3 {
    font-size: 20px;
  }
  span {
    margin-left: 3px;
  }
  .nav>li>a:focus, .nav>li>a:hover, .nav>li.active>a {
    color: $link-color;
    background-color: $gray-lighter;
  }
  .nav>li>a {
    padding: 5px 10px;
  }
  .res_rights {
    img {
      height: 50px;
    }
  }
}

.facet-collapse {
  @media (min-width: $grid-float-breakpoint) {
    &.collapse {
      display: block !important;
      height: auto !important;
    }
  }
}
.facet-toggle {
  .fa {
    float: right;
  }
  @media (min-width: $grid-float-breakpoint) {
    display: none;
  }
}
.facet-header {
  @media (max-width: $grid-float-breakpoint) {
    display: none;
  }
}
.search-result-title {
  h2 {
    float: left;
  }
  .sortby {
    text-align: right;
  }
  @media (max-width: $grid-float-breakpoint) {
    h2 {
      float: none;
    }
    .sortby {
      text-align: left;
    }
  }
}

.list-inline.dataset-resources,
.list-inline.tags {
  margin-left: 0;
  li {
    padding: 0;

    &.active a {
      background-color: $gray-lighterish;
      color: $gray;
    }
  }
}
li.dataset-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid $gray-lighter 1px;

  h3 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

// Dataset Detail
.dataset-detail {
  .page-header {
    margin-bottom: 0;

    @media (max-width: $grid-float-breakpoint) {
      margin-bottom: 50px;
    }
  }
  .toolbox {
    background-color: $gray-dark;
    margin-bottom: 50px;

    ul {
      margin-bottom: 0;
      padding: 10px 0;

      li, a {
        color: #fff;
      }
    }
  }
}
.terms img {
  height: 60px;
}

.resource-list {
  li {
    overflow: hidden;
    border-bottom: solid $gray-lighter 1px;
    padding: 10px 0;
  }
  .actions a {
    margin-left: 10px;
  }
  .heading {
    margin-left: 5px;
    margin-right: 5px;
  }
}
.additional-info {
  th.header-col {
    width: 200px;
  }
}

// Organization list
#organizations-list {
  li {
    a  {
      display: block;
      padding: 10px;
      border-bottom: 1px solid $gray-lighter;

      &:hover {
        background-color: $gray-lighter;
      }
    }
  }
}

// Organization Detail
.description img {
  margin-bottom: 20px;
}

// Group list
#group-list {
  li {
    border-bottom: 1px solid $gray-lighter;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  h3 {
    margin-bottom: 5px;
  }
}