/* =======================================================================
 * Setting Variables
 * =======================================================================
 */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic);
@import '../external/font-awesome-4.4.0/scss/font-awesome';

@import 'bootstrap_variables';
@import 'variables';
@import '../external/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap';
@import 'wp_tinymce_styles';
@import 'button_default';
@import 'responsive_alignment';

/* some bootstrap overrides -> maybe remove later */
#main-navigation {
  font-weight: 600;
  &.navbar-default .navbar-nav>li.search>a {
    color: $link-color;
  }
  &.navbar-default .navbar-nav>li.search>a:focus,
  &.navbar-default .navbar-nav>li.search>a:hover {
    color: $link-hover-color;
  }
  h1 {
    margin: 0;
  }
  .navbar-brand {
    font-size: 36px;
    span {
      color: $brand-primary;
    }
  }
  @media (max-width: $screen-sm-max) {
    .navbar-brand {
      font-size: 26px;
    }
  }
}

.btn-default {
  @include ogdch-button-default;
}

pre {
  font-size: ceil(($font-size-base * 0.75));
}

.attachment-app-image {
  margin-top: 15px;
}

.front-header {
  .headline {
    font-size: 28px;
    font-weight: 600;
    #opendata-count {
      margin-top: -30px;
      font-size: 200px;
      line-height: 200px;
    }
    .title {
      line-height: 28px;
    }
    img {
      width: 50px;
    }
  }
}

.breadcrumb>li+li:before {
  font: normal normal normal 14px/1 FontAwesome;
  padding: 0 8px;
  content: "\f105";
}
.breadcrumb {
  li.active a {
    color: $gray-light;
  }
}

.nav>li {
  >a:focus, >a:hover {
    color: $nav-pills-active-link-hover-color;
  }
}

.label-default.label {
  color: $gray-light;
}
a.label-default.label:focus,
a.label-default.label:hover {
  color: $gray-light;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th,
hr {
  border-top-style: dashed;
}

.dl-horizontal {
  $gutter-size: 5px;
  border-bottom: 1px dashed $gray-lighterish;
  padding-bottom: $gutter-size;

  dt:first-of-type, dd:first-of-type{
    border-top-width:0;
  }
  dt {
    border-top: 1px dashed $gray-lighterish;
    padding-top: $gutter-size;
    margin-top: $gutter-size;
  }
  @media (min-width: $grid-float-breakpoint) {
    dt {
      width: ($dl-horizontal-offset - 5);
      text-align: left;
    }
    dd {
      margin-left: $dl-horizontal-offset;
      border-top: 1px dashed $gray-lighterish;
      padding-top: $gutter-size;
      margin-top: $gutter-size;
    }
    // FIX somehow the first dd element isn't aligned to the title
    dd:first-of-type {
      padding-top: (2 * $gutter-size);
    }
  }
}

.h2-vertical-center {
  margin-top: 25px;
}

.top-buffer {
  margin-top: $buffer-height;
}
.bottom-buffer {
  margin-bottom: $buffer-height;
}

#explore {
  .category {
    height: 120px;
    overflow: hidden;

    h4 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

#how {
  .number {
    float: left;
    font-size: 80px;
    line-height: 80px;
    font-weight: 600;
    width: 65px;
  }
  .description {
    overflow: hidden;

    h3 {
      margin-top: 10px;
    }
  }
}

#trending {
  #last-tweet {
    p {
      font-size: 1.5em;

      .fa {
        font-size: 1.5em;
      }
    }
  }
}

.main-footer {
  color: $inverted-text-color;
  background: $text-color;
  box-shadow: 0px 1000px 0px 1000px $text-color;
  padding-top: 40px;
  padding-bottom: 40px;

  a {
    color: $inverted-link-color;

    &:hover {
      color: $inverted-link-color;
    }
  }
  .lead {
    font-size: 32px;
    font-weight: 600;
  }
  .btn {
    margin-right: 10px;
    margin-bottom: 10px;
    &.last {
      margin-right: 0;
    }
    &.dropdown-toggle {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
  .btn-default {
    color: $inverted-text-color;
    background-color: $text-color;
    border-color: $inverted-btn-default-color;
  }

  .statsnumber {
    font-size: 40px;
    line-height: 46px;
  }

  li {
    margin-bottom: 12px;
  }

  .dropdown-menu li {
    margin-bottom: 0;
  }

  #logos img {
    margin-right: 30px;
    margin-bottom: 30px;
    &.logo-confederation {
      width: 245px;
    }
    &.logo-egovernment {
      width: 184px;
    }
  }
}

/* Dataset Search */
.search-form {
  h3 {
    font-size: 26px;
  }
}
.facet-filter {
  h3 {
    font-size: 20px;
  }
  span {
    margin-left: 3px;
    font-size: floor(($font-size-base * 0.8));
    color: $gray-light;
  }
  li:hover span, li:active span {
    color: $gray-lighter;
  }
  .nav>li>a {
    padding: 5px 10px;
  }
}

.facet-collapse {
  @media (min-width: $grid-float-breakpoint) {
    &.collapse {
      display: block !important;
      height: auto !important;
    }
  }
}
.facet-toggle {
  float: right;
  font-size: 30px;
  line-height: 20px;
  font-weight: 600;

  &:hover, &:focus {
    text-decoration: none;
  }

  @media (min-width: $grid-float-breakpoint) {
    display: none;
  }
}

/* Dataset Detail */
header.dataset-header {
  $header-padding: 20px;
  $header-h1-margin: 15px;
  color: $inverted-text-color;
  background-color: $brand-primary;
  margin-bottom: 40px;
  padding-top: $header-padding;

  h1 {
    margin-top: $header-h1-margin;
    margin-bottom: $header-padding + $header-h1-margin;
  }

  .dataset-toolbox {
    background-color: $gray-dark;

    .fa-li {
      top: 0.3em;
    }
    a {
      color: $inverted-text-color;
    }
  }
}

.resource-list {
  li {
    overflow: hidden;
    border-bottom: dashed $gray-lighterish 1px;
    padding: 10px 0;
  }
  .actions a {
    margin-left: 10px;
  }

  .label-format {
    border: solid 1px $gray-lighterish;
    color: $gray-light;
    background-color: #fff;
    margin-right: 10px;
  }
}
.additional-info {
  th.header-col {
    width: 200px;
  }
}