/* =======================================================================
 * Setting Variables
 * =======================================================================
 */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic);
@import '../external/font-awesome-4.4.0/scss/font-awesome';

@import 'bootstrap_variables';
@import 'variables';
@import '../external/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap';
@import 'responsive_alignment';

/* some bootstrap overrides -> maybe remove later */
#main-navigation {
  font-weight: 600;
  font-size: floor(($font-size-base * 1.2));
  &.navbar-default .navbar-nav>li.search>a {
    color: $link-color;
  }
  &.navbar-default .navbar-nav>li.search>a:focus,
  &.navbar-default .navbar-nav>li.search>a:hover {
    color: $link-hover-color;
  }
  h1 {
    margin: 0;
  }
  .navbar-brand {
    font-size: floor(($font-size-base * 1.4));
    span {
      color: $brand-primary;
    }
  }
}

.btn-default {
  &:focus,
  &.focus {
    color: #fff;
    background-color: $brand-primary;
    border-color: $brand-primary;
  }
  &:hover {
    color: #fff;
    background-color: $brand-primary;
    border-color: $brand-primary;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: #fff;
    background-color: $brand-primary;
    border-color: $brand-primary;

    &:hover,
    &:focus,
    &.focus {
      color: #fff;
      background-color: $brand-primary;
      border-color: $brand-primary;
    }
  }
}

hr {
  margin-top: 70px;
  margin-bottom: 40px;
}

.attachment-app-image {
  margin-top: 15px;
}

header {
  margin-top: 50px;
  margin-bottom: 20px;
  .headline {
    font-size: 60px;
    font-weight: 600;
    #opendata-count {
      margin-top: -30px;
      font-size: 200px;
      line-height: 200px;
    }
    .title {
      line-height: 40px;
    }
    img {
      width: 50px;
    }
  }
}

.h2-vertical-center {
  margin-top: 35px;
}

#explore {
  .category {
    height: 120px;
    overflow: hidden;

    h4 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

#how {
  .number {
    float: left;
    font-size: 80px;
    line-height: 80px;
    font-weight: 600;
    width: 65px;
  }
  .description {
    overflow: hidden;

    h3 {
      margin-top: 10px;
    }
  }
}

footer {
  margin-top: 60px;
  color: $inverted-text-color;
  background: $text-color;
  box-shadow: 0px 1000px 0px 1000px $text-color;
  padding-top: 40px;
  padding-bottom: 40px;

  a {
    color: $inverted-link-color;

    &:hover {
      color: $inverted-link-color;
    }
  }
  .row {
    margin-bottom: 40px;
  }
  .btn {
    margin-right: 10px;
    margin-bottom: 10px;
    &.last {
      margin-right: 0;
    }
    &.dropdown-toggle {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
  .btn-default {
    color: $inverted-text-color;
    background-color: $text-color;
    border-color: $inverted-btn-default-color;
  }

  .statsnumber {
    font-size: 40px;
    line-height: 46px;
  }

  li {
    margin-bottom: 12px;
  }

  #logos img {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 245px;
  }
}