@import '../external/Font-Awesome/scss/font-awesome';
@import '../external/jquery-ui-autocomplete/jquery-ui.css';
@import '../external/jquery-ui-autocomplete/jquery-ui.structure.css';
@import '../external/jquery-ui-autocomplete/jquery-ui.theme.css';


@import 'bootstrap_variables';
@import 'variables';
@import 'bootstrap';
@import 'wp_tinymce_styles';
@import 'button_hover';
@import 'advanced_buttons';
@import 'responsive_alignment';
@import 'ninjaforms_3_bootstrap';

html {
  -webkit-font-smoothing: antialiased;
}

// Bootstrap overrides
.btn-twitter img:hover {
  background-color: darken($brand-primary, 10%);
}
.btn-default {
  @include ogdch-button-hover($brand-primary, #fff, $brand-primary);
}
.btn-default-gray {
  @include ogdch-button-variant($gray, #fff, $gray, $brand-primary, #fff, $brand-primary);
  &.btn.active, &.btn:active {
    @include box-shadow(none);
  }
}
.btn-default-inverted {
  @include ogdch-button-variant(#fff, $brand-primary, #fff, #fff, darken($brand-primary, 10%), #fff);
  &.btn.active, &.btn:active {
    @include box-shadow(none);
  }
}
.btn {
  white-space: normal; // allow multi-line button texts
}

pre {
  font-size: ceil(($font-size-base * 0.75));
  border: none;
}
small, .small {
  color: $gray-light;

  a {
    color: $link-color;
  }
}
p.small {
  margin-bottom: 8px;
}

.lead {
  font-size: 20px;
}

.breadcrumb {
  >li+li:before {
    font: normal normal normal 14px/1 FontAwesome;
    padding: 0 8px;
    content: "\f105";
  }

  li.active a {
    color: $gray-light;
  }
}

.dropdown-menu {
  border: none;
  border-radius: $btn-border-radius-base;
}

// reset dropup caret
.dropup {
  .caret {
    border-bottom: 0;
    border-top:   $caret-width-base dashed;
    border-top:   $caret-width-base solid \9; // IE8
  }
}

.nav>li {
  >a:focus, >a:hover {
    color: $nav-pills-active-link-hover-color;
  }
}

//// Navigation tabs
.nav-tabs {
  margin-top: 10px;

  > li {
    > a {
      &,
      &:hover {
        margin-right: 2px;
        line-height: $line-height-base;
        color: $nav-pills-active-link-hover-color;
        border: 1px solid $nav-tabs-border-color;
        border-radius: $border-radius-base $border-radius-base 0 0;
      }
    }
  }
}

.form-control {
  box-shadow: none;
  &:focus {
    box-shadow: none;
  }
}
.form-control-feedback {
  color: $text-color;
}
.has-error .form-control:focus {
  box-shadow: none;
}

.alert p {
  margin-bottom: 0;
}

// Label styles
.label {
  font-weight: normal;
}
.label-default {
  background-color: #fff;
  border: solid 1px $gray-lighterish;
  color: $gray-light;
}
a.label-default {
  &:focus,
  &:hover {
    background-color: #fff;
    border-color: $gray-light;
    color: $gray;
  }
  &[href]:focus, &[href]:hover {
    background-color: #fff;
  }
}
.label-primary-gray {
  background-color: $gray-lighter;
  color: $gray-light;
}
a.label-primary-gray:focus,
a.label-primary-gray:hover {
  background-color: $gray-lighterish;
  color: $gray;
}

.dl-horizontal {
  $gutter-size: 5px;
  border-bottom: 1px solid $gray-lighter;
  padding-bottom: $gutter-size;
  overflow: hidden;

  dt:first-of-type, dd:first-of-type{
    border-top-width: 0;
  }
  dt {
    border-top: 1px solid $gray-lighter;
    padding-top: $gutter-size;
    margin-top: $gutter-size;
  }
  dd ul {
    margin-bottom: 0;
  }
  @media (min-width: $dl-horizontal-breakpoint) {
    dt {
      width: $dl-horizontal-offset;
      text-align: left;
      padding-right: 5px;
    }
    dd {
      margin-left: $dl-horizontal-offset;
      border-top: 1px solid $gray-lighter;
      padding-top: $gutter-size;
      margin-top: $gutter-size;
    }
  }
}

.embed-container {
  max-width: 650px;
}

// Global Helper classes
.break-word {
  word-wrap: break-word;
}

.top-buffer {
  margin-top: $buffer-height;
}

.bottom-buffer {
  margin-bottom: $buffer-height;
}

.inverted-container {
  $inverted-container-padding: 70px;
  color: $inverted-text-color;
  background-color: $brand-primary;
  padding: $inverted-container-padding 0;
  border: 0;

  a {
    color: $inverted-link-color;

    &:hover {
      color: $inverted-link-hover-color;
    }
  }
  a.btn {
    color: $inverted-link-color;
  }
}

// Main navigation
#main-navigation {
  font-size: 20px;
  font-weight: 600;
  &.navbar-default .navbar-nav>li.search>a {
    color: $gray-light;
  }
  &.navbar-default .navbar-nav>li.search>a:focus,
  &.navbar-default .navbar-nav>li.search>a:hover {
    color: $link-color;
  }
  h1 {
    margin: 0;
  }
  .navbar-brand img {
    height: 30px;
  }
  .navbar-toggle {
    margin-top: 30px;
  }

  @media (max-width: $grid-float-breakpoint) {
    .navbar-toggle {
      margin-top: 25px;
      margin-bottom: 25px;
      border-radius: $btn-border-radius-base;
    }
  }
  @media (max-width: $screen-md-max) and (min-width: $screen-md-min) {
    font-size: 18px;

    .nav > li > a {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .dropdown-menu > li > a {
    line-height: 2;
  }
}

// Page header
.page-header {
  $header-padding: 30px;
  color: $inverted-text-color;
  background-color: $brand-primary;
  margin-top: 0;
  margin-bottom: $header-footer-buffer;
  padding: $header-padding 0;
  border: 0;
  word-wrap: break-word;

  h1 {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .breadcrumb {
    margin-bottom: 0;
    a {
      color: $inverted-text-color;
    }
    li.active {
      color: $gray-dark;

      a {
        color: $gray-dark;
      }
    }
  }
}

// Page footer
.contribute {
  margin-top: $header-footer-buffer + $line-height-computed; // add line-height-computed because first section after header starts with h2 (which also has a margin)

  h2 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .btn {
    margin: 5px 10px 5px 0;
    &.last {
      margin-right: 0;
    }
  }
  .buttons {
    margin-top: $buffer-height / 2;

    @media (max-width: $grid-float-breakpoint) {
      margin-top: 0;
    }
  }
}
.page-footer {
  color: $footer-text-color;
  background: $footer-bg-color;
  box-shadow: 0px 1000px 0px 1000px $text-color;
  padding-top: 40px;

  small, .small {
    color: $inverted-text-color;
  }

  a {
    color: $footer-link-color;

    &:hover {
      color: $footer-link-hover-color;
    }
    &.btn:hover {
      color: #fff;
    }
  }
  h2 {
    font-size: 24px;
    margin-top: 0;
  }

  .statsnumber {
    font-size: 40px;
    line-height: 46px;
  }

  li {
    margin-bottom: 12px;
  }

  #logos img {
    vertical-align: top;
    margin-right: 30px;
    margin-bottom: 30px;
    &.logo-confederation {
      width: 245px;
    }
    &.logo-egovernment {
      width: 184px;
    }
  }
}
.page-footer-navigation {
  color: $footer-text-color;
  background: $footer-navigation-bg-color;
  box-shadow: 0px 1000px 0px 1000px $footer-navigation-bg-color;
  padding-top: 40px;
  padding-bottom: 40px;

  .container {
    display: flex;
    align-items: center;
  }
  .footer-navigation {
    padding-left: 40px;
    flex: 1;

    ul {
      margin-bottom: 0;
    }
    .list-inline>li {
      padding: 5px 10px;
    }
  }
  @media (max-width: $screen-xs-max) {
    .container {
      align-items: start;
    }
    .list-inline>li {
      display: list-item;
    }
  }

  a {
    color: $footer-link-color;

    &:hover {
      color: $footer-link-hover-color;
    }
    &.btn:hover {
      color: #fff;
    }
  }

  .btn-default {
    color: $footer-text-color;
    background-color: $footer-navigation-bg-color;
    border-color: $inverted-btn-default-color;
  }

  ul.list-inline {
    margin-bottom: 0;
  }
  .dropdown-menu li {
    margin-bottom: 0;
  }
}

// Front-Page
.front-header {
  padding: 0px;

  h1 {
    margin-bottom: $buffer-height / 2;
  }
  a {
    color: $inverted-link-color;

    &:hover {
      color: $inverted-link-hover-color;
    }
  }
  a.btn {
    color: $inverted-link-color;
  }

  .container {
    padding-top: 70px;
    padding-bottom: 70px;

    background-image: url('../images/swiss_map.png'); // Fallback for SVG image
    background-image: linear-gradient(transparent, transparent), url('../images/swiss_map.svg');
    background-repeat: no-repeat;
    background-position: right center;

    @media (max-width: $grid-float-breakpoint) {
      padding-top: 40px;
      padding-bottom: 40px;
      background-position: center bottom;
    }
  }

  .headline {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    #opendata-count {
      width: 100%;
      margin-top: -10px;
      font-size: 120px;
      line-height: 100%;

      @media (max-width: $grid-float-breakpoint) {
        margin-top: 20px;
      }
    }
    .title {
      line-height: 28px;
    }
  }
}

#explore {
  .category {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;

    small {
      font-size: 18px;
      margin-left: 5px;
    }
  }
}

#how {
  .fa {
    font-size: 40px;
    margin-right: 5px;
  }
}

// Dataset Search
.search-form {
  h3 {
    font-size: 26px;
  }
}
.facet-filter {
  h3 {
    font-size: 20px;
  }
  span {
    margin-left: 3px;
  }
  .nav>li>a {
    border-left: 2px solid transparent;
    padding: 5px 10px;
  }
  .nav>li>a:focus, .nav>li>a:hover, .nav>li.active>a {
    color: $link-color;
    border-left-color: $brand-primary;
    background-color: $gray-lighter;
  }
  .nav>li>a:focus, .nav>li>a:hover, .nav>li.active>a {
    &::after {
      content: '+';
      float: right;
      color: #fff;
      background-color: $brand-primary;
      border-radius: 18px;
      width: 18px;
      height: 18px;
      line-height: 18px;
      margin-top: 5px;
      text-align: center;
    }
  }
  .nav>li.active>a::after {
    content: '\d7';
  }
  .res_rights {
    img {
      height: 50px;
    }
    &.nav>li>a:focus::after, &.nav>li>a:hover::after, &.nav>li.active>a::after {
      margin-top: 16px;
    }
  }
}
.reset-search {
  display: block;
  text-align: right;
}

.facet-collapse {
  @media (min-width: $grid-float-breakpoint) {
    &.collapse {
      display: block !important;
      height: auto !important;
    }
  }
}
.facet-toggle {
  .fa {
    float: right;
  }
  @media (min-width: $grid-float-breakpoint) {
    display: none;
  }
}
.facet-header {
  @media (max-width: $grid-float-breakpoint) {
    display: none;
  }
}
.search-result-title {
  h2 {
    float: left;
    margin-right: 15px;
  }
  .sortby {
    text-align: right;
  }
  @media (max-width: $grid-float-breakpoint) {
    h2 {
      float: none;
    }
    .sortby {
      text-align: left;
    }
  }
}

.list-inline.dataset-resources,
.list-inline.tags {
  margin-left: 0;
  li {
    padding: 0;

    &.active a {
      background-color: $gray-lighterish;
      color: $gray;
    }
  }
}
li.dataset-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid $gray-lighter 1px;

  h3 {
    margin-top: 10px;
    margin-bottom: 5px;

    a:visited {
      color: $link-visited-color;
    }
  }
}

// Dataset Detail
.terms img {
  height: 60px;
}

.resource-list {
  li {
    overflow: hidden;
    border-bottom: solid $gray-lighter 1px;
    padding: 10px 0;
  }
  a:visited:not(.btn) {
    color: $link-visited-color;
  }
  .actions a {
    margin-left: 10px;
  }
  .heading {
    margin-left: 5px;
    margin-right: 5px;
  }
}
.additional-info {
  th.header-col {
    width: 200px;
  }
}

#discourse-embed-frame {
  min-height: 50px;
}

// Organization list
#organizations-list {
  li {
    a  {
      display: block;
      padding: 10px;
      border-bottom: 1px solid $gray-lighter;

      &:hover {
        background-color: $gray-lighter;
      }
    }
  }
}

// Organization list filter styles
.organization-hierarchy {
  li.organization {
    display: none;
    &.childmatch {
      display: list-item;
    }
    &.match {
      display: list-item;
      .organization-row {
        .highlight {
          background-color: $brand-highlight;
        }
      }
    }
  }
  &.empty-search {
    li.organization {
      display: list-item;
      .organization-row {
        a {
          .highlight {
            background-color: transparent;
          }
        }
      }
    }
  }
}

// Organization Detail
.description img.logo {
  display: block;
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 30%;
  margin-bottom: 20px;
  margin-left: 20px;
  @media (max-width: $screen-sm-max) {
    max-height: none;
    max-width: 100%;
    margin-left: 0;
  }
}

// Group list
#group-list {
  li {
    border-bottom: 1px solid $gray-lighter;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  h3 {
    margin-bottom: 5px;
  }
}

// Ressource-Preview
.js-hide {
  display: none;
}


// Search Suggestions
.ui-autocomplete .ui-menu-item a,
.ui-autocomplete .ui-menu-item a:active,
.ui-autocomplete .ui-menu-item a:focus,
.ui-autocomplete .ui-menu-item a:hover,
.ui-autocomplete .ui-menu-item a:visited {
    display: block;
    text-decoration: none;
    padding: 8px 1em 8px 1em;
}

.ui-autocomplete .ui-state-active {
    background-color: $brand-primary;
    border-color: $gray-lighter;
}

// Media styling from CKAN, imported to use with ckanext-showcase

.media-grid {
  list-style: none;
  padding-top: 15px;
}

.media-item {
  position: relative;
  padding: 15px;
  margin: 0 15px 15px 15px;
  background-color: white;
  border-radius: 3px
}

.media-item span.count {
  color: #999
}

.media-item .media-image {
  margin-bottom: 5px
}

.media-item .media-edit {
  opacity: 0;
  position: absolute;
  right: 15px;
  bottom: 15px;
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in
}

.media-item:hover {
  z-index: 1
}

.media-item:hover .media-edit {
  opacity: 1
}

.media-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #dddddd;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border-radius: 3px
}

.media-view:hover, .media-view.hovered {
  border-color: $brand-primary;
  -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1)
}

.media-view:hover .banner, .media-view.hovered .banner {
  background-color: $brand-primary
}

.media-view span {
  display: none
}

.media-view .banner {
  display: block;
  background-color: #b7b7b7;
  -webkit-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in
}

.media-image {
  border-radius: 4px
}

.media-image img {
  min-width: 100%
}

.media-heading {
  font-size: 18px;
  line-height: 1.3;
  margin: 5px 0;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto
}

.media-overlay {
  position: relative;
  min-height: 35px
}

.media-overlay .media-heading {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px 10px;
  margin: 0;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 13px;
  color: #fff;
  z-index: 1;
  border-radius: 0 0 3px 3px
}

.media-overlay .media-image {
  float: none;
  display: block;
  margin-right: 0
}

.media-item.is-expander .truncator-link {
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  position: absolute;
  z-index: 10;
  left: 15px;
  bottom: 15px;
  opacity: 0
}

.media-item.is-expander:hover {
  padding-bottom: 35px
}

.media-item.is-expander:hover .truncator-link {
  opacity: 1
}

.wide .media-item {
  width: 186px
}

.showcases {
  li {
    list-style: none;
  }
}
